[submodule "prezto/prezto.symlink"]
	path = prezto/prezto.symlink
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "vim/vim.symlink/bundle/Vundle.vim"]
	path = vim/vim.symlink/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
